.add-to-cart {
    cursor: pointer;
    width: fit-content;
    padding: 0.5em 1em;
    background-color: brown;
    border: 1px solid brown;
    color: bisque;
    margin: 0 auto;
    border-radius: 10px;
  }
.remove-from-cart {
    cursor: pointer;
    width: fit-content;
    padding: 0.5em 1em;
    background-color: bisque;
    border: 1px solid brown;
    color: brown;
    margin: 0 auto;
    border-radius: 10px;
  }