.header-class{
    height: 20rem;
    width: 100%;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

h5{
    color: grey;
    text-align: center;
}

h1{
    text-align: center;
}