.item-count{
    background-color: azure;
    display: inline-block;
    color: black;
    border-radius: 15px;
    margin-left: 5px;
    padding: 5px;
}

p{
    margin: 0;
}

.cart-item{
    width: fit-content;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: rgb(49, 48, 48);
}